.main {
  text-align: center;
}

.foot {
  bottom: 0px;
  position: fixed;
  width: 100%;
  text-align: center;
  height: 50px;
  font-size: 18px;
  border-top: 2px solid silver;
  padding-top: 10px;
}

.links {
  font-size: 24px;
}

.name {
  padding-top: 10px;
  font-size: 32px;
}

.linkedin {
  font-size: 18px;
  display: inline-block;
  padding-right: 25px;
}

.github {
  display: inline-block;
  font-size: 18px;
  padding-left: 25px;
}
